.bg-primary {
    background-color: rgb(101, 8, 177) !important;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;   
}

.scrollspyhome{
    position: relative;
    overflow: auto;
    height: 300px;
}